<div class="container">
    <div *ngFor="let kitten of kittens" >
        <div  class="card" >
            <img [src]="kitten.picture" alt="" (mouseenter)="isHover = true" (mouseleave)="isHover = false">
            <div *ngIf="isHover">
                <h1>{{kitten.name}}</h1>
                <h2>{{kitten.breed}}</h2>
                <p>Birthday 🎂</p>
                <p>{{kitten.birthday | date: 'dd MMMM yyyy'}}</p> 
            </div>            
            <div *ngIf="!kitten.isAdopted" >
                <button type="submit"  (click)="adoptKitten(kitten)">Adoptez-moi!</button>
            </div>
        </div>
    </div>
    <div class="userSpace">
        <h1>My kittens</h1>
        <div *ngFor="let kitten of adoptedKittens" >
            <div class="kittenPicture">
                <img [src]="kitten.picture" alt="">
            </div>
        </div>
    </div>
</div>
